<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test-route</title>
    <link rel="stylesheet" href="/stylesheets/test.css">
</head>
<body>
    <div class="menu-border gradient-animation-border">
        <div class="menu">
          <div>
            <h3>Home</h3>
            <p>Home page</p>
          </div>
          <div>
            <h3>Projects</h3>
            <p>See my work</p>
          </div>
          <div>
            <h3>Blog</h3>
            <p>See what I'm up to</p>
          </div>
          <div>
            <h3>Playground</h3>
            <p>More of my work</p>
          </div>
        </div>
      </div>
      
      <script src="https://unpkg.com/gradient-animation@1.0.16/src/index.js" type="module"></script>
</body>
</html>