:root {
    --stroke-centre: #ff9212;
    --stroke-outer: #ff000045;
    --gradient-stroke: linear-gradient(
      -55deg,
      transparent 25%,
      var(--stroke-outer) 35%,
      var(--stroke-centre),
      var(--stroke-outer) 65%,
      transparent 70%
    );
  }
  
  body {
    padding: 20px;
    background: #2e2e2e;
  }
  
  h3 {
    font-family: "Geo-edit";
    font-weight: 300;
    /*   letter-spacing: 0.1rem; */
    font-size: 1.4rem;
    font-style: normal;
  }
  
  p {
    font-family: "Geo-edit";
    font-weight: 100;
    font-style: normal;
    font-size: 0.6rem;
  }
  
  .menu-border {
    display: grid;
    place-items: center;
    width: 240px;
    height: fit-content;
    border-radius: 30px;
    background: linear-gradient(
      -55deg,
      transparent 25%,
      #ff000045 35%,
      #ff9212 50%,
      #ff000045 65%,
      transparent 70%
    );
    padding: 1px;
    box-shadow: 0px 0px 20px 2px rgb(0 0 0 /25%);
    animation: gradient 5s ease-in 0s infinite;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    width: 100%;
    background: #353535;
  }
  
  .menu > div:not(.menu-border) {
    line-height: 0.1rem;
    color: white;
    padding: 10px 0px 10px 30px;
    /*   padding-left: 30px; */
    user-select: none;
    overflow: hidden;
  }
  
  .menu > div:not(.menu-border):first-of-type {
    border-radius: 30px 30px 0px 0px;
  }
  .menu > div:not(.menu-border):last-of-type {
    border-radius: 0px 0px 30px 30px;
  }
  
  .menu > div:not(.menu-border):hover {
    background: #42372a;
    cursor: pointer;
  }
  
  @keyframes gradient-animation-border {
    from {
      background: linear-gradient(
        -55deg,
        transparent 25%,
        #ff000045 35%,
        #ff9212 50%,
        #ff000045 65%,
        transparent 70%
      );
    }
    33.3333% {
      background: linear-gradient(
        -55deg,
        transparent 25%,
        #ff000045 35%,
        #ff9212 65%,
        #ff000045 70%,
        transparent 70%
      );
    }
    66.6666% {
      background: linear-gradient(
        -55deg,
        transparent 25%,
        #ff000045 25%,
        #ff9212 36%,
        #ff000045 65%,
        transparent 70%
      );
    }
    to {
      background: linear-gradient(
        -55deg,
        transparent 25%,
        #ff000045 35%,
        #ff9212 50%,
        #ff000045 65%,
        transparent 70%
      );
    }
  }
  